<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.idempiere.xhtd_ab.form.XhtdFormDisplays"
         name="org.idempiere.xhtd_ab.form.XhtdFormDisplays"
         point="org.adempiere.webui.Form">
      <form
            class="org.idempiere.xhtd_ab.form.XhtdFormDisplays"
            priority="org.idempiere.xhtd_ab.form.XhtdFormDisplays">
      </form>
   </extension>
   <extension
         id="org.idempiere.xhtd_ab.process.CustomerProcess"
         name="org.idempiere.xhtd_ab.process.CustomerProcess"
         point="org.adempiere.base.Process">
      <process
            class="org.idempiere.xhtd_ab.process.CustomerProcess">
      </process>
   </extension>
   <extension
         id="org.idempiere.xhtd_ab.process.LockProfileProcess"
         name="org.idempiere.xhtd_ab.process.LockProfileProcess"
         point="org.adempiere.base.Process">
      <process
            class="org.idempiere.xhtd_ab.process.LockProfileProcess">
      </process>
   </extension>
   <extension
         id="org.idempiere.xhtd_ab.process.ActionScoreProcess"
         name="org.idempiere.xhtd_ab.process.ActionScoreProcess"
         point="org.adempiere.base.Process">
      <process
            class="org.idempiere.xhtd_ab.process.ActionScoreProcess"
            priority="org.idempiere.xhtd_ab.process.ActionScoreProcess">
      </process>
   </extension>
   <extension
         id="org.idempiere.xhtd_ab.process.DeleteScoreProcess"
         name="org.idempiere.xhtd_ab.process.DeleteScoreProcess"
         point="org.adempiere.base.Process">
      <process
            class="org.idempiere.xhtd_ab.process.DeleteScoreProcess"
            priority="org.idempiere.xhtd_ab.process.DeleteScoreProcess">
      </process>
   </extension>
   <extension
         id="org.idempiere.xhtd_ab.process.LockCustomerProcess"
         name="org.idempiere.xhtd_ab.process.LockCustomerProcess"
         point="org.adempiere.base.Process">
      <process
            class="org.idempiere.xhtd_ab.process.LockCustomerProcess"
            priority="org.idempiere.xhtd_ab.process.LockCustomerProcess">
      </process>
   </extension>
   <extension
         id="org.idempiere.xhtd_ab.process.UnLockCustomerProcess"
         name="org.idempiere.xhtd_ab.process.UnLockCustomerProcess"
         point="org.adempiere.base.Process">
      <process
            class="org.idempiere.xhtd_ab.process.UnLockCustomerProcess"
            priority="org.idempiere.xhtd_ab.process.UnLockCustomerProcess">
      </process>
   </extension>
   <extension
         id="org.idempiere.xhtd_ab.process.NewCustomerProcess"
         name="org.idempiere.xhtd_ab.process.NewCustomerProcess"
         point="org.adempiere.base.Process">
      <process
            class="org.idempiere.xhtd_ab.process.NewCustomerProcess"
            priority="org.idempiere.xhtd_ab.process.NewCustomerProcess">
      </process>
   </extension>
    <extension
         id="org.idempiere.xhtd_ab.process.ActionProfileProcess"
         name="org.idempiere.xhtd_ab.process.ActionProfileProcess"
         point="org.adempiere.base.Process">
      <process
            class="org.idempiere.xhtd_ab.process.ActionProfileProcess"
            priority="org.idempiere.xhtd_ab.process.ActionProfileProcess">
      </process>
   </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.DownloadInfoFinancialProcess"
          name="org.idempiere.xhtd_ab.process.DownloadInfoFinancialProcess"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.DownloadInfoFinancialProcess"
             priority="org.idempiere.xhtd_ab.process.DownloadInfoFinancialProcess">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.RefuseTarget"
          name="org.idempiere.xhtd_ab.process.RefuseTarget"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.RefuseTarget"
             priority="org.idempiere.xhtd_ab.process.RefuseTarget">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.ApprovalTarget"
          name="org.idempiere.xhtd_ab.process.ApprovalTarget"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.ApprovalTarget"
             priority="org.idempiere.xhtd_ab.process.ApprovalTarget">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.SubmitTarget"
          name="org.idempiere.xhtd_ab.process.SubmitTarget"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.SubmitTarget"
             priority="org.idempiere.xhtd_ab.process.SubmitTarget">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.DownloadInfoFinancialHisProcess"
          name="org.idempiere.xhtd_ab.process.DownloadInfoFinancialHisProcess"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.DownloadInfoFinancialHisProcess"
             priority="org.idempiere.xhtd_ab.process.DownloadInfoFinancialHisProcess">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.ApprovalMedianMean"
          name="org.idempiere.xhtd_ab.process.ApprovalMedianMean"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.ApprovalMedianMean"
             priority="org.idempiere.xhtd_ab.process.ApprovalMedianMean">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.ApprovalLogistic"
          name="org.idempiere.xhtd_ab.process.ApprovalLogistic"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.ApprovalLogistic"
             priority="org.idempiere.xhtd_ab.process.ApprovalLogistic">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.DownloadSuggestExceptionProcess"
          name="org.idempiere.xhtd_ab.process.DownloadSuggestExceptionProcess"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.DownloadSuggestExceptionProcess"
             priority="org.idempiere.xhtd_ab.process.DownloadSuggestExceptionProcess">
		</process>
		</extension>
		<extension
          id="org.idempiere.xhtd_ab.process.ApprovalPTCCIC"
          name="org.idempiere.xhtd_ab.process.ApprovalPTCCIC"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.ApprovalPTCCIC"
             priority="org.idempiere.xhtd_ab.process.ApprovalPTCCIC">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.ApprovalNormalizedParam"
          name="org.idempiere.xhtd_ab.process.ApprovalNormalizedParam"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.ApprovalNormalizedParam"
             priority="org.idempiere.xhtd_ab.process.ApprovalNormalizedParam">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.ApprovalRating"
          name="org.idempiere.xhtd_ab.process.ApprovalRating"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.ApprovalRating"
             priority="org.idempiere.xhtd_ab.process.ApprovalRating">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.ApprovalPointRate"
          name="org.idempiere.xhtd_ab.process.ApprovalPointRate"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.ApprovalPointRate"
             priority="org.idempiere.xhtd_ab.process.ApprovalPointRate">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.ApprovalBCTCTQ"
          name="org.idempiere.xhtd_ab.process.ApprovalBCTCTQ"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.ApprovalBCTCTQ"
             priority="org.idempiere.xhtd_ab.process.ApprovalBCTCTQ">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.ApprovalConfigValueTQ"
          name="org.idempiere.xhtd_ab.process.ApprovalConfigValueTQ"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.ApprovalConfigValueTQ"
             priority="org.idempiere.xhtd_ab.process.ApprovalConfigValueTQ">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.ApprovalPCTQ"
          name="org.idempiere.xhtd_ab.process.ApprovalPCTQ"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.ApprovalPCTQ"
             priority="org.idempiere.xhtd_ab.process.ApprovalPCTQ">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.ApprovalWarningQuestionQL"
          name="org.idempiere.xhtd_ab.process.ApprovalWarningQuestionQL"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.ApprovalWarningQuestionQL"
             priority="org.idempiere.xhtd_ab.process.ApprovalWarningQuestionQL">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.ApprovalDirectKOQL"
          name="org.idempiere.xhtd_ab.process.ApprovalDirectKOQL"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.ApprovalDirectKOQL"
             priority="org.idempiere.xhtd_ab.process.ApprovalDirectKOQL">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.ApprovalBusinessAreasTQ"
          name="org.idempiere.xhtd_ab.process.ApprovalBusinessAreasTQ"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.ApprovalBusinessAreasTQ"
             priority="org.idempiere.xhtd_ab.process.ApprovalBusinessAreasTQ">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.DownloadSuggestExceptionProcessHis"
          name="org.idempiere.xhtd_ab.process.DownloadSuggestExceptionProcessHis"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.DownloadSuggestExceptionProcessHis"
             priority="org.idempiere.xhtd_ab.process.DownloadSuggestExceptionProcessHis">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.ChangeUserProcess"
          name="org.idempiere.xhtd_ab.process.ChangeUserProcess"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.ChangeUserProcess"
             priority="org.idempiere.xhtd_ab.process.ChangeUserProcess">
       </process>
    </extension>
    <extension
          id="org.idempiere.xhtd_ab.process.DowloadImportUserProcess"
          name="org.idempiere.xhtd_ab.process.DowloadImportUserProcess"
          point="org.adempiere.base.Process">
       <process
             class="org.idempiere.xhtd_ab.process.DowloadImportUserProcess"
             priority="org.idempiere.xhtd_ab.process.DowloadImportUserProcess">
       </process>
    </extension>
</plugin>
